/autom4te.cache/output.0
/autom4te.cache/requests
/autom4te.cache/traces.0
#Global
.vscode
.Apple*
.DS_Store
.clang_complete
.local.vimrc
.ycm_extra_conf.py*
Thumbs.db

# /
/*_fifo
/*.exe
/*.exe.*
/*.ilk
/*.iobj
/*.ipdb
/*.log
/*.ncb
/*.opensdf
/*.opt
/*.pdb
/*.pid
/*.sdf
/*.stackdump
/*.suo
*.o
*.a
*.vcxproj.user
/char-server
/csv2yaml
/config.log
/config.status
/core
/enc_temp_folder
/ipch
/login-server
/Makefile
/Makefile.cache
/map-server
/mapcache
/nbproject
/yaml2sql
/yamlupgrade

# /3rdparty/libconfig/
/3rdparty/libconfig/Makefile
/3rdparty/libconfig/*.o
/3rdparty/libconfig/obj

# /3rdparty/yaml-cpp/
/3rdparty/yaml-cpp/Makefile

# /db/
/db/import

# /conf/
/conf/import
/conf/msg_conf/import

# /lib
/lib

# /log/
/log/*.log
/log/*.leaks

# /src/char/
/src/char/Makefile
/src/char/obj_sql

# /src/common/
/src/common/Makefile
/src/common/obj_all
/src/common/obj_sql
/src/common/version.hpp

# /src/custom/
/src/custom

# /src/login/
/src/login/Makefile
/src/login/obj_sql

# /src/map/
/src/map/Makefile
/src/map/obj_sql
/src/map/pcre.hpp

# /src/tool/
/src/tool/Makefile
/src/tool/obj_all

# /tools/
/tools/convert
/tools/adduser
/tools/*.exe
/tools/*.ilk
/tools/*.pdb

# Visual Studio
.vs
*.VC.db
*.VC.opendb

/.idea/.name
/.idea/misc.xml
/.idea/modules.xml
/.idea/rathena.iml
/.idea/vcs.xml
/.idea/workspace.xml
/build/
/cbuild/

# bat tools
/charserv.bat
/csv2yaml.bat
/logserv.bat
/mapcache.bat
/mapserv.bat
/runserver.bat
/serv.bat
/yaml2sql.bat
/yamlupgrade.bat

# dlls
/libmysql.dll
/pcre8.dll
/zlib.dll

# CMakeFiles
/CMakeFiles/

# Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

# Crash log files
crash.log
crash.*.log

# Exclude all .tfvars files, which are likely to contain sensitive data, such as
# password, private keys, and other secrets. These should not be part of version 
# control as they are data points which are potentially sensitive and subject 
# to change depending on the environment.
*.tfvars
*.tfvars.json

# Ignore override files as they are usually used to override resources locally and so
# are not checked in
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Include override files you do wish to add to version control using negated pattern
# !example_override.tf

# Include tfplan files to ignore the plan output of command: terraform plan -out=tfplan
# example: *tfplan*

# Ignore CLI configuration files
.terraformrc
terraform.rc